.background{
  background-image: url("../images/mai.jpg");
  background-size: cover;
}
.map{
padding-right: 100px;
padding-left: 100px;

}
.input{
  text-align: center;
  font-size: 40px;
  font-family: 'Shojumaru', cursive;
  color: greenyellow;
}
#button{
  height: 40px;
  width:100px;
}
input[type=button] {
  background-color: greenyellow;
}
@media screen and (max-width: 600px) {
 .background, .map, input[type=button] {
   min-width: 100%;
   margin-top: 0;
 }
}
