ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
 position: sticky;
 top: 0;
}

li {
 float: right;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 color: white;
}

li a:hover {
 background-color: #111;
}
* {
 box-sizing: border-box;
}
.indication{
  text-align: center;
  font-size: 35px;
  padding: 110px;
}
#truck{
  background-image:url("../images/contact.jpg");
  color: greenyellow;
  background-size: cover;
  /* padding-top: 400px */
}
@media screen and (max-width: 800px) {
 #truck, .indication, input[type=submit] {
   max-width: 100%;
   margin-top: 0;
 }
}
h1{
  font-family: 'Abril Fatface', cursive;
  font-weight: 400: 100px;
  color: darkred;

}
